---
# this is an empty front matter
---
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ site.data.conference.short_title }} {{ site.data.conference.year }} | EWSN {{ site.data.conference.year }}</title>

    <!-- css -->
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" type="image/svg+xml" href="favicon.svg">
</head>
<body data-spy="scroll" data-target="#site-nav">
{% include header.html %}

<section id="organization" class="section faq" style="display: block;">
    <div class="container">

        <h3>Workshop Co-Chairs</h3>
        {% for chair in site.data.chairs.general_chairs %}
        {{ chair.firstname }} {{ chair.lastname }}, {{ chair.institution }}<br/>
        {% endfor %}

        <!-- <h3>Demo and Poster Co-chairs</h3>
        {% for chair in site.data.chairs.poster_demo_chairs %}
        {{ chair.firstname }} {{ chair.lastname }}, {{ chair.institution }}<br/>
        {% endfor %} -->

        <!-- <h3>Publicity Chair</h3>
        {% for chair in site.data.chairs.publicity_chairs %}
        {{ chair.firstname }} {{ chair.lastname }}, {{ chair.institution }}<br/>
        {% endfor %} -->

        <!-- <h3>Web Chair</h3>
        {% for chair in site.data.chairs.web_chairs %}
        {{ chair.firstname }} {{ chair.lastname }}, {{ chair.institution }}<br/>
        {% endfor %} -->

        <h3>Technical Program Committee</h3>

        Marco Apolinario Lainez, Delft University of Technology, Netherlands</br>
        Atakan Aral, University of Wien, Austria</br>
        Jiechen Chen, King's College London, UK</br>
        Marco Cominelli, Politecnico di Milano, Italy</br>
        Paolo Dini, Telecommunications Technological Center of Catalonia (CTTC), Spain</br>
        Joakim Eriksson, RISE Research Institute of Sweden, Sweden</br>
        Francesco Gringoli, University of Brescia, Italy</br>
        Giacomo Indiveri, University of Zurich and ETH Zurich, Switzerland</br>
        Andre Kokkeler, University of Twente, Netherlands</br>
        Tinoosh Mohsenin, Johns Hopkins University, USA</br>
        Giulia Moreni, Innatera, Netherlands</br>
        Nikolaos Pappas, Linköping University, Sweden</br>
        Jacopo Pegoraro, University of Padova, Italy</br>
        Koen Scheres, KU Leuven, Belgium</br>
        Amir Yousefzadeh, University of Twente, Netherlands</br>

        <!-- <h3>Steering Committee</h3>
        Stefano Basagni, Northeastern University</br>
        Giuseppe Bianchi, University of Roma Tor Vergata</br>
        Dimitrios Koutsonikolas, Northeastern University</br>
        Tommaso Melodia, Northeastern University</br>
        Paul Patras, University of Edinburgh</br>
        Chunyi Peng, Purdue University</br>
        Ilenia Tinnirello, University of Palermo</br> -->

    </div>
</section>

<!-- import navigation bar and header -->
<script src="//code.jquery.com/jquery.min.js"></script>

<script src="bootstrap/dist/js/bootstrap.min.js"></script>
<script src="smooth-scroll/dist/js/smooth-scroll.min.js"></script>
</body>
</html>
