---
# this is an empty front matter
---
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ site.data.conference.short_title }} {{ site.data.conference.year }} | ACM MobiCom {{ site.data.conference.year }}</title>

    <!-- css -->
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body data-spy="scroll" data-target="#site-nav">
{% include header.html %}

<section id="organization" class="section faq" style="display: block;">
    <div class="container">

        <h3>Workshop Co-chairs</h3>
        {% for chair in site.data.chairs.general_chairs %}
        {{ chair.firstname }} {{ chair.lastname }}, {{ chair.institution }}<br/>
        {% endfor %}

        <!-- <h3>Demo and Poster Co-chairs</h3>
        {% for chair in site.data.chairs.poster_demo_chairs %}
        {{ chair.firstname }} {{ chair.lastname }}, {{ chair.institution }}<br/>
        {% endfor %} -->

        <h3>Publicity Chair</h3>
        {% for chair in site.data.chairs.publicity_chairs %}
        {{ chair.firstname }} {{ chair.lastname }}, {{ chair.institution }}<br/>
        {% endfor %}

        <h3>Web Chair</h3>
        {% for chair in site.data.chairs.web_chairs %}
        {{ chair.firstname }} {{ chair.lastname }}, {{ chair.institution }}<br/>
        {% endfor %}

        <h3>Technical Program Committee</h3>

        Sarath Babu, Iowa State University</br>
        Bastian Bloessl, TU Darmstadt</br>
        Leonardo Bonati, Northeastern University</br>
        Anna Brunstrom, Karlstad University</br>
        Nakjung Choi, Nokia Bell Labs</br>
        Marco Cominelli, Politecnico di Milano</br>
        Salvatore D’Oro, Northeastern University</br>
        Aloizio Pereira da Silva, Virginia Tech</br>
        Rahman Doost-Mohammady, Rice University</br>
        Serge Fdida, Sorbonne University & CNRS</br>
        Claudio Fiandrino, IMDEA Networks</br>
        Fraida Fund, NYU</br>
        Lorenzo Ghiro, University of Brescia</br>
        Chaojie Gu, Zhejiang University</br>
        Zhangyu Guan, University of Buffalo</br>
        Ismail Guvenc, North Carolina State University</br>
        Matthias Hollick, TU Darmstadt</br>
        Jun Huang, City University of Hong Kong</br>
        Ish Kumar Jain, Rensselaer Polytechnic Institute</br>
        Florian Kaltenberger, Eurecom</br>
        Yuanjie Li, Tsinghua University</br>
        Francesca Meneghello, University of Padova</br>
        Tobias Meuser, TU Darmstatd</br>
        Marco Mezzavilla, Politecnico di Milano</br>
        Parth Pathak, George Mason University</br>
        Michele Polese, Northeastern University</br>
        Francesco Restuccia, Northeastern University</br>
        Ivan Seskar, Rutgers University</br>
        Zhenyu Yan, Chinese University of Hong Kong</br>
        Renjie Zhao, Johns Hopkins University</br>


        <h3>Steering Committee</h3>
        Stefano Basagni, Northeastern University</br>
        Giuseppe Bianchi, University of Roma Tor Vergata</br>
        Dimitrios Koutsonikolas, Northeastern University</br>
        Tommaso Melodia, Northeastern University</br>
        Paul Patras, University of Edinburgh</br>
        Chunyi Peng, Purdue University</br>
        Ilenia Tinnirello, University of Palermo</br>

    </div>
</section>

<!-- import navigation bar and header -->
<script src="//code.jquery.com/jquery.min.js"></script>

<script src="bootstrap/dist/js/bootstrap.min.js"></script>
<script src="smooth-scroll/dist/js/smooth-scroll.min.js"></script>
</body>
</html>
