---
# this is an empty front matter
---
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ site.data.conference.short_title }} {{ site.data.conference.year }} | EWSN {{ site.data.conference.year }}</title>

    <!-- css -->
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" type="image/svg+xml" href="favicon.svg">
</head>
<body data-spy="scroll" data-target="#site-nav">
    {% include header.html %}

    <section id="about" class="section about" style="display: block;">
        <div class="container">
            <h3 style="text-align:center;" class="section-title">{{ site.data.conference.title }}
                <br><br>
<!--                TODO: update sponsors-->
                <font size="4">Workshop endorsed by the <a href="https://multix-6g.eu/" target="_blank">MultiX</a> Horizon JU-SNS project</font>
            </h3>

            <p align="justify">The increasing demand for energy-efficient wireless sensing and communication systems,
            particularly in IoT and cyber-physical systems, requires rethinking physical layer (PHY) processing architectures. 
            Neuromorphic computing aligns with this need by enabling (i) ultra-low-power operations, (ii) event-driven processing, 
            and (iii) native temporal signal handling. This is especially relevant for (a) edge intelligence in wireless sensor networks, 
            (b) sustainable embedded AI systems, and (c) real-time adaptive communication systems.</br></p>

            <p align="justify">NeuroPHY focuses on the emerging <b>intersection between neuromorphic computing and PHY signal processing for wireless communication systems</b>. The workshop aims to explore how spiking neural networks (SNNs), reservoir computing, and embedded neuromorphic processors can enable ultra-low-power, adaptive, and real-time PHY functionalities.</p>

            <p align="justify">The aim is to bring together researchers working on both hardware implementations and software-driven applications to advance next-generation wireless and sensor systems, especially towards energy efficiency.
                Specifically, the objectives are:
            </p>

            <ul class="bullet-list">
                <li>Establish a research forum bridging neuromorphic computing and wireless PHY design</li>
                <li>Identify and exploit opportunities for low-energy, real-time signal processing</li>
                <li>Promote collaboration and networking between hardware designers, communication theorists, and machine learning experts</li>
                <li>Evaluate feasibility and limitations of neuromorphic approaches in real-world deployments </li>
            </ul>

            <!-- <p align="justify">All the regular papers will be considered for the <b>Best Paper Award</b>.</p> -->

            <p><b>KEYNOTE SPEECH:</b> TBA.</p>

            <!--<p id="listing" align="justify">In addition to the regular papers, the program of {{ site.data.conference.short_title }} {{ site.data.conference.year }} will also include:</p>
               TODO: Update this section
            <li>A keynote speech from an expert in experimental wireless research</li>
            <li>A Demo session</li>
            <br>-->

						{% if site.data.keynotes.size > 0 %}
            <p><b>Keynote Speakers:</b><br/>
						{% for keynote in site.data.keynotes %}
							{{ keynote.academic_title }} {{ keynote.firstname }} {{ keynote.lastname }}, {{ keynote.affiliation }}
						{% endfor %}
						{% endif %}

            <p><b>IMPORTANT DATES:</b><br/>
            <!-- Paper registration: {{ site.data.dates.registration }}<br/> -->
            Paper submission: {{ site.data.dates.submission }}<br/>
            Acceptance notification: {{ site.data.dates.notification }}<br/>
            Camera ready: {{ site.data.dates.camera_ready }}<br/>
            Workshop: {{ site.data.conference.dates }}</p>

        </div><!-- /.container -->
    </section>

    <!-- import navigation bar and header -->
    <script src="//code.jquery.com/jquery.min.js"></script>

    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="smooth-scroll/dist/js/smooth-scroll.min.js"></script>
</body>
</html>
